<div class = "car-models-page">
    <h1>Car Models</h1>
    
    {{! READ table }}
    <table>
        <thead>
            <tr>
                <th>Car Model ID</th>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
                <th>Actions</th>
            </tr>
        </thead>
    
        <tbody>
            {{! Print each row }}
            {{#each models}}
            <tr>
                <td>{{this.carModelID}}</td>
                <td>{{this.make}}</td>
                <td>{{this.model}}</td>
                <td>{{this.year}}</td>
    
                {{! DELETE form }}
                <form id='delete_model_form' method="POST" action="car-models/delete">
                    <input type='hidden' name='delete_model_id' value='{{this.carModelID}}' />
                    <input type='hidden' name='delete_model_name' value='{{this.year}} {{this.make}} {{this.model}}' />
                    <td>
                        <button type='submit'>
                            Delete
                        </button>
                    </td>
                </form>
            </tr>
            {{/each}}
        </tbody>
    </table>
    
    {{! CREATE form }}
    <h2>Create a Car Model</h2>
    <form class='cuForm' id='create_model_form' method="POST" action="/car-models/create">
        <label for='create_model_make'>Make: </label>
        <input type='text' name='create_model_make' id='create_model_make' required />
    
        <label for='create_model_model'>Model: </label>
        <input type='text' name='create_model_model' id='create_model_model' required/>
    
        <label for='create_model_year'>Year: </label>
        <input type='number' name='create_model_year' id='create_model_year' required />
    
        <input type='submit' />
    </form>
    
    {{! UPDATE form }}
    <h2>Update a Car Model</h2>
    <form class='cuForm' id='update_model_form' method="POST" action="/car-models/update">
        <label for='update_model_id'>Car Model to Update: </label>
        <select name='update_model_id' id='update_model_id' required>
            <option value='' disabled selected>Select a Car Model</option>
            {{#each models}}
            <option value='{{this.carModelID}}' required>
                {{this.carModelID}}
                -
                {{this.year}}
                {{this.make}}
                {{this.model}}
            </option>
            {{/each}}
        </select>
    
        <label for='update_model_make'>Make: </label>
        <input type='text' name='update_model_make' id='update_model_make' />
    
        <label for='update_model_model'>Model: </label>
        <input type='text' name='update_model_model' id='update_model_model' />
    
        <label for='update_model_year'>Year: </label>
        <input type='text' name='update_model_year' id='update_model_year' />
    
        <input type='submit' />
    </form>
</div>