{{! Citation for cars.hbs file:
    Date: 8/7/25
    The code in this file was copied and modified from the web application technology exploration.
    Source: https://canvas.oregonstate.edu/courses/2007765/pages/exploration-web-application-technology-2?module_item_id=25664612
    No AI tools were used. }}

<div class = "cars-page">
    <h1>Cars</h1>
    
    {{! READ table }}
    <table>
        <thead>
            <tr>
                <th>Car ID</th>
                <th>Is Pre-Owned</th>
                <th>Date Revieved</th>
                <th>Is For Sale</th>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
                <th>Actions</th>
            </tr>
        </thead>
    
        <tbody>
            {{! Print each row }}
            {{#each cars}}
            <tr>
                <td>{{this.carID}}</td>
                <td>{{this.isPreOwned}}</td>
                <td>{{this.receivedDate}}</td>
                <td>{{this.isForSale}}</td>
                <td>{{this.make}}</td>
                <td>{{this.model}}</td>
                <td>{{this.year}}</td>
    
                {{! DELETE form }}
                <form id='delete_car_form' method="POST" action="cars/delete">
                    <input type='hidden' name='delete_car_id' value='{{this.carID}}' />
                    <input type='hidden' name='delete_car_name' value='{{this.year}} {{this.make}} {{this.model}}' />
                    <td>
                        <button type='submit'>
                            Delete
                        </button>
                    </td>
                </form>
            </tr>
            {{/each}}
        </tbody>
    </table>
    
    {{! CREATE form }}
    <h2>Create a Car</h2>
    <form class='cuForm' id='create_car_form' method="POST" action="/cars/create">
    
        <label for='create_car_model'>Car Model: </label>
        <select name='create_car_model' id='create_car_model'>
            <option value='NULL' disabled selected>Select a Car Model</option>
            {{#each models}}
            <option value='{{this.carModelID}}' required>{{this.year}} {{this.make}} {{this.model}}</option>
            {{/each}}
        </select>
    
        <label for='create_car_pre'>Is Pre Owned: </label>
        <select name='create_car_pre' id='create_car_pre' required>
            <option value="" disabled selected>Select true or false</option>
            <option value="true">True</option>
            <option value="false">False</option>
        </select>

    
        <label for='create_car_date'>Received Date: </label>
        <input type='date' name='create_car_date' id='create_car_date' required/>
    
        <label for='create_car_sale'>Is For Sale: </label>
        <input type='text' name='create_car_sale' id='create_car_sale' required />
    
        <input type='submit' />
    </form>
    
    {{! UPDATE form }}
    <h2>Update a Car</h2>
    <form class='cuForm' id='update_car_form' method="POST" action="/cars/update">
        <label for='update_car_id'>Car to Update: </label>
        <select name='update_car_id' id='update_car_id' required>
            <option value='' disabled selected>Select a Car</option>
            {{#each cars}}
            <option value='{{this.carID}}' required>
                {{this.carID}}
                -
                {{this.year}}
                {{this.make}}
                {{this.model}}
            </option>
            {{/each}}
        </select>
    
        <select name='update_car_model' id='update_car_model'>
            <option value='NULL' disabled selected>Select a Car Model</option>
            {{#each models}}
            <option value='{{this.carModelID}}' required>{{this.year}} {{this.make}} {{this.model}}</option>
            {{/each}}
        </select>
    
        <label for='update_car_pre'>Is Pre Owned: </label>
        <select name='update_car_pre' id='update_car_pre' required>
            <option value="" disabled selected>Select true or false</option>
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
    
        <label for='update_car_date'>Received Date: </label>
        <input type='date' name='update_car_date' id='update_car_date' />
    
        <label for='update_car_sale'>Is For Sale: </label>
        <input type='text' name='update_car_sale' id='update_car_sale' />
    
        <input type='submit' />
    </form>
</div>