<div class = "employees-page">
    <h1>Employees</h1>
    
    {{! READ table }}
    <table>
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Job Title</th>
                <th>Is Dealer</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Actions</th>
            </tr>
        </thead>

    
        <tbody>
            {{! Print each row }}
            {{#each employees}}
            <tr>
                <td>{{this.employeeID}}</td>
                <td>{{this.fName}}</td>
                <td>{{this.lName}}</td>
                <td>{{this.jobTitle}}</td>
                <td>{{boolToString this.isDealer}}</td>
                <td>{{this.email}}</td>
                <td>{{formatPhone this.phoneNumber}}</td>
    
                {{! DELETE form }}
                <form id='delete_employee_form' method="POST" action="employees/delete">
                    <input type='hidden' name='delete_employee_id' value='{{this.employeeID}}' />
                    <input type='hidden' name='delete_employee_name' value='{{this.fName}} {{this.lName}}' />
                    <td>
                        <button type='submit'>
                            Delete
                        </button>
                    </td>
                </form>
            </tr>
            {{/each}}
        </tbody>
    </table>
    
    {{! CREATE form }}
    <h2>Create an Employee</h2>
    <form class='cuForm' id='create_employee_form' method="POST" action="/employees/create">
        <label for='create_employee_fname'>First Name: </label>
        <input type='text' name='create_employee_fname' id='create_employee_fname' required />
    
        <label for='create_employee_lname'>Last Name: </label>
        <input type='text' name='create_employee_lname' id='create_employee_lname' required/>
    
        <label for='create_employee_jt'>Job Title: </label>
        <input type='text' name='create_employee_jt' id='create_employee_jt' required />
    
        <label for='create_employee_dealer'>Is Dealer: </label>
        <select name='create_employee_dealer' id='create_employee_dealer' required>
            <option value="" disabled selected>Select True or False</option>
            <option value="true">True</option>
            <option value="false">False</option>
        </select>

    
        <label for='create_employee_email'>Email: </label>
        <input type='email' name='create_employee_email' id='create_employee_email' required />
    
        <label for='create_employee_number'>Phone Number: </label>
        <input type='number' name='create_employee_number' id='create_employee_number' required />
    
        <input type='submit' />
    </form>
    
    {{! UPDATE form }}
    <h2>Update an Employee</h2>
    <form class='cuForm' id='update_employee_form' method="POST" action="/employees/update">
        <label for='update_employee_id'>Employee to Update: </label>
        <select name='update_employee_id' id='update_employee_id' required>
            <option value='' disabled selected>Select a Employee</option>
            {{#each employees}}
            <option value='{{this.employeeID}}' required>
                {{this.employeeID}}
                -
                {{this.fName}}
                {{this.lName}}
            </option>
            {{/each}}
        </select>
    
        <label for='update_employee_fname'>First Name: </label>
        <input type='text' name='update_employee_fname' id='update_employee_fname' />
    
        <label for='update_employee_lname'>Last Name: </label>
        <input type='text' name='update_employee_lname' id='update_employee_lname' />
    
        <label for='update_employee_jt'>Job Title: </label>
        <input type='text' name='update_employee_jt' id='update_employee_jt' />
    
        <label for='update_employee_dealer'>Is Dealer: </label>
            <select name='update_employee_dealer' id='update_employee_dealer' required>
            <option value="" disabled selected>Select True or False</option>
            <option value="true">True</option>
            <option value="false">False</option>
        </select>

    
        <label for='update_employee_email'>Email: </label>
        <input type='email' name='update_employee_email' id='update_employee_email' />
    
        <label for='update_employee_number'>Phone Number: </label>
        <input type='number' name='update_employee_number' id='update_employee_number' />
    
        <input type='submit' />
    </form>
</div>